*.DS_Store
*.swp
*.swo
*.pyc
build/
*.pbx
~default.pbxuser
*.mode1v3
!default.mode2v3
*.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.move-aside
DerivedData/
.idea/

